@font-face {
  font-family: defaultFont;
  src: url("./assets/fonts/font.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: defaultFont;
  background: #6c9a8b;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

figure {
  position: relative;
  cursor: pointer;
}

figure img {
  width: 300px;
  height: 400px;
  border-radius: 16px;
}

/* implement your code here... */
